@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600");

body
{
  margin: 0;
  padding: 0;

  /* make it look decent enough */
  background: #232323;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

  div#wapper {
      width: 100%;
      text-align: left;
      min-height: 300px;
      margin: 0 auto;
  }

  header, footer, nav, section {
      margin: 0.2%;
      padding: 5px;

  }

  header {
      border: 1px solid gold;
    font-size: 30px;
    height: 150px;
    width: 99%;
  }
  nav {
      background-color: goldenrod;
  }
  section {
      border: 1px solid gold;
      background-color: green;
      height : 1000px;
  }
  aside {
      background-color: goldenrod;
  }
  footer {
      height: 50px;
      background-color: blue;
      position: relative;
      clear: both;
  }

  article {
      width: 90%;
      margin: 20px;
      background-color: #999;
      left:50%;
  }

  .d_logo {
    float: left;
    height: 100px;
  }

  .d_menu {
    border: 1px solid gold;
  }

  .d_searchBar{
    border: 1px solid gold;
    float: left;
  }

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;

}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


    .searchButton{
      border: 0;
      height: 50px;
    }
     .searchInput{
      background: #ffffff;
      border: 0;
      height: 50px;
      width: 750px;
    }
    .uploadButton{
      border: 0;
      background: #4478a8;
      height: 50px;
      color: #ffffff;
    }
    .d_item_info{
      display: table;
      position: absolute;
      width: 400px;
      top: 226px;
      background-color: rgba(0 , 0, 0, 0.7);
    }
    .d_item_info {
      display: table-cell;
      vertical-align: middle;
    }