<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="static/css/main.css" />
  <title>비둘기장터</title>
</head>
<body>

  <header style="background-color: #2a3742;">
    <div class="d_menu" style="padding-left:3%;position:relative;float:left;up:50%;transform:translateY(100%);">
      <span style="font-size:30px;cursor:pointer;float: left;" onclick="openNav()">&#9776;</span>
    </div>

    <div class="d_logo" style="position:relative;bottom:50%;transform:translateY(100%);">
      <img src="/static/image/splash_logo.png" height="100px">
    </div>

    <div class = "d_searchBar" style="position:relative;bottom:50%;transform:translateY(175%);">
      <form style="float: left;" class="searchBar" action="/main" method="post">
        <input class="searchInput" type="text" name="itemSearch" value={{ searchItem }}/>
        <input class="searchButton" TYPE="IMAGE" src="/static/image/splash_btn_search.png" name="submit" value="Submit"  align="absmiddle">
      </form>
      <form style="float: left;position:relative;bottom:50%;float:left;" action="/itemUpload" method="post">
         <input style="margin-left:10px;width:100px;height:50px" class="uploadButton" TYPE="IMAGE" src="{{ url_for('static', filename='image/sell.png') }}">
      </form>
    </div>
  </header>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>


  <section >
    <h2 style="margin:3%">새로운 상품 등록하기</h2>
    <div>
      <img class="itemInfoLayout" src="https://steemitimages.com/DQmSFopgNi6uwS9G78HP1DX73VwwAqrTSS2jFLTW7sTH7qX/mystery-box.jpg" style="margin:3%;float:left;width: 250px; height: auto;">
      <form class="itemInfoLayout" action="/itemUploadCom" method="post" enctype="multipart/form-data">
        <div>
          <div class="itemUploadInfoLayout">상품명</div>
          <input class="itemUploadInfoLayout"  name="itemName" type="text"/>
        </div>
        <div>
          <div class="itemUploadInfoLayout">상품 가격</div>
          <input class="itemUploadInfoLayout" name="itemPrice" type="number"/>
        </div>
        <div>
          <div class="itemUploadInfoLayout">판매자 거주지역</div>
          <input class="itemUploadInfoLayout"  name="itemLocation" type="text"/>
        </div>
        <div>
          <div class="itemUploadInfoLayout">판매자 연락처</div>
          <input class="itemUploadInfoLayout"  name="itemSeller" type="text"/>
        </div>
        <div>
          <div class="itemUploadInfoLayout">상품 사진</div>
          <input class="itemUploadInfoLayout"  name="itemPhoto" type="file"/>
        </div>
        <div>
          <div class="itemUploadInfoLayout">상품 상세 설명</div>
          <input class="itemUploadInfoLayout"  name="itemDetail" type="text"/>
        </div>
        <div>
          <input class="uploadButton" style="margin-top:3%" name="itemPrice" type="submit" value="상품 등록하기"/>
        </div>
      </form>
    </div>
  </section>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}
function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>
</html>
