<html><head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="static/css/main.css">
    <title>아주 간단한 HTML 문서 예</title>
    <style>
        @font-face{
        font-family: 'BaminHanna';
        src: {{ url_for('static', filename='font/bamin_hanna.tff')}} format('truetype');
      }
        .subtitle{
            font-size:1.7em;
            color:black;
        }
        section{
            background-color: #ffffff;
        }
    </style>
</head>
<body>

<header style="background-color: #2a3742;">

    <div class="d_menu" style="padding-left:3%;position:relative;float: left;up:50%;transform:translateY(100%);">
      <span style="font-size:30px;cursor:pointer;float: left;" onclick="openNav()">&#9776;</span>
    </div>

    <div class="d_logo" style="position:relative;bottom:50%;transform:translateY(100%);">
      <img src="{{ url_for('static', filename='image/splash_logo.png') }}" height="100px">
    </div>

    <div class = "d_searchBar" style="bottom:50%;position:relative;transform:translateY(125%);">
      <form style="float: left;" class="searchBar" action="/main" method="post">
        <input class="searchInput" type="text" name="searchValue"/>
        <input class="searchButton" TYPE="IMAGE" src="{{ url_for('static', filename='image/splash_btn_search.png') }}" name="Submit" value="Submit"  align="absmiddle">
      </form>
        <form style="float: left;position:relative;bottom:50%;float:left;" action="/itemUpload" method="post">
         <input style="margin-left:10px;width:100px;height:50px" class="uploadButton" TYPE="IMAGE" src="{{ url_for('static', filename='image/sell.png') }}">
      </form>
    </div>


  </header>


 <div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

{% for item in items %}


  <section style="height:1000px;font-family:'bamin_hanna'; padding-left:3%">
      <div id="itemName">
          <p style="font-size: 2.0em; color:black">{{ item.name }}</p>
      </div>
      <div id="itemContents">


          <div id="itemPhoto" style="width:45%; height:40%;float: left;">
            <img class="itemInfoLayout" style="width:99%; height:99%" src={{ item.picture }} >
          </div>
          <div id="itemSubstance" style="margin-left: 50px;float: left;width:45%; height:40%">
              <div>
                  <div class="subtitle" style="font-size: 2.0em;float:left;color:#449957;">₩</div>
                  <div class="subtitle" style=" font-size: 2.0em;float:left;">{{ item.price }}</div>
                  <div class="subtitle" style=" font-size: 2.0em;">원</div>
              </div>

              <div class="subtitle">판매자: {{ item.author }}</div>
              <div class="subtitle">판매 지역: {{ item.location }}</div>
              <div class="subtitle">상품 설명: {{ item.subtitle }}</div>
              <form style="position: relative;width: 500px;height: 40px;" action="/buyItem" method="post">
                  <input class="uploadButton" style="width:400px" type="submit" value = "구매하기">
                  <input style="display:none" name=itemName value = {{ item.name }}>
                  <input style="display:none" name=itemAuthor value = {{ item.author }}>
              </form>
          </div>
  {% endfor %}
      </div>
      <div id="itemSubContents">

      </div>
  </section>
  <script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>


</body></html>