<!DOCTYPE html>
<html lang= "ko">
  <head>
    <meta charset="utf-8">
    <title>상품 상세페이지</title>
    <style>
      header{
        background-color: #1abc9b;
      }
      .headerLayout{
        display: inline;
        margin: 10px;
        vertical-align: middle;
      }
      .itemInfoLayout{
        float: left;
      }
    </style>
  </head>

  <header>
    <div>
      <img class="headerLayout" src="{{ url_for('static', filename='image/vidulgi.jpg') }}" height="70px">
      <input class="headerLayout" type="text"/>
      <input class="headerLayout" type="button" name="btnSearch" value="검색"/>
    </div>
  </header>

  <body>
    <h2>상품명 : 왜 파는지 모르겠는 물건</h2>
    <div style="background-color: #008002">
      <img class="itemInfoLayout" src="https://steemitimages.com/DQmSFopgNi6uwS9G78HP1DX73VwwAqrTSS2jFLTW7sTH7qX/mystery-box.jpg" style="width: 250px; height: auto;">
      <div class="itemInfoLayout">
        <p>가격 : $10,000</p>
        <p>판매자 지역 : 서울시 동작구 흑석동</p>
        <p>판매자 연락처 : 010-null-null</p>
        <p>상품상태 : *****</p>
        <p>기타내용 : 개봉 후 작동 확인 한 새제품입니다</p>
        <form action="/main" method="post">
          <input type="checkbox">프리미엄(물품 상세검수) 서비스 이용<br/>
          <input type="submit" value="구매하기"/>
        </form>
      </div>
    </div>
  </body>
</html>
