<!DOCTYPE html>
<html lang= "ko">
  <head>
    <meta charset="utf-8">
    <title>비둘기장터</title>
    <style>
      body{
        background-color: #1abc9b;
      }
    </style>
  </head>

  <body><center>
    <img src="{{ url_for('static', filename='image/vidulgi.jpg') }}" height="150px">
    <h2>비둘기장터</h2>
    <h3>지금 사고 싶은 것은?</h3>
    <form action="/main" method="post">
      <input type="text" name="itemSearch"/>
      <input type="button" name="btnSearch" value="검색"/>
    </form>
  </body>
</html>
