<!DOCTYPE html>
<html lang= "ko">
  <head>
    <meta charset="utf-8">
    <title>비둘기장터</title>
    <style>
      @font-face{
        font-family: 'BaminHanna';
        src: url(static/fonts/bamin_hanna.ttf) format('truetype');
      }
      header{
        height: 100px;
      }
      body{
        background-color: #2a3742;
      }
      .searchInput{
        background: #ffffff;
        border: 0;
        height: 50px;
        width: 500px;
      }
      .searchButton{
        border: 0;
        height: 50px;
      }
      .top, .bottom{
        height : 150px;
      }
    </style>
  </head>

  <header>
    <div class = "d_login">
    {% if session_value %}
    <form style="float:left;" class= "f_login" action="/login" method="get">
      <input type="submit" name="login" value="로그인완료">
    </form>
    {% else %}
    <form style="float:left;" class= "f_login" action="/login" method="get">
      <input type="submit" name="login" action="login_page()" value="로그인">
    </form>
    {% endif %}
    </div>
  </header>

  <body>
    <center>
      <img src="{{ url_for('static', filename='image/splash_logo.png') }}" height="200px">
      <form action="/main" method="post">
        <input class="searchInput" type="text" name="itemSearch" placeholder=" 지금 사고 싶은 것은?"/>
        <input style="width: 50px;" TYPE="IMAGE" src="{{ url_for('static', filename='image/splash_btn_search.png') }}" name="Submit" value="Submit"  align="absmiddle">
      </form>
    </center>
  </body>
</html>